html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(97, 199, 165);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}

/* Meu CSS */

.header img{
    width: 100%;
}

.menu ul li{
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
    align-items: center;
}

.menu ul li a{
    text-decoration: none;
    margin: 0;
    padding: 0px;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

.footer p{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    margin-top: 55px;
}

span{
    color: aqua;
}

table{
    border: solid 1px #000000;
    font-size: 20px;
    border-spacing: 0;
}
thead{
    background-color: #000000;
    color: #ffffff;
}

td{
    text-align: center;
}

table tbody tr:nth-child(even) td{
    background-color: #f1f1f1;
}

.contato{
    font-size: 20px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

fieldset{
    width: 200px;
}

button{
    border-radius: 30px;
    background-color: aqua;
    width: 90px;
    margin-left: 25px;
}